{
    "semi": false,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["**/*.css", "**/*,scss", "**/*.html"],
            "options": {
                "singleQoute": false
            }
        }
    ]
}
